.blogItem {
  display: block;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
  overflow: hidden;
  background: #fff;
}
.blogItem:hover {
  color: inherit;
}
.blogItem:hover .blogItem__title {
  text-decoration: underline;
}
.blogItem__header {
  width: 100%;
  height: 230px;
  background: linear-gradient(45deg #fff, #f2f4f8);
}
.blogItem__header img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
}
.blogItem__body {
  width: 100%;
  padding: 1.5rem 1rem;
}
.blogItem__title {
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ededed;
}
.blogItem__info {
  font-size: .8rem;
  color: #666;
}
