.container {
  position: relative;
}
.header {
  padding: 1rem 0;
  border-bottom: 1px solid #ededed;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.datetime {
  color: #999;
  font-size: .8rem;
}
.contents {
  font-size: 1rem;
  padding: 1rem 0;
}

.control {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 1rem;
}
.control__list {
  padding: 0 1rem;
  list-style: none;
  font-size: 1rem;
}
.control__list > li + li {
  margin-top: 1.5rem;
}